.header--banner {
    background-color: rgb(50, 50, 50);
    margin-bottom: 7em;
    height: 5em;
    display: flex;
    justify-content: space-between;
    line-height: 1em;
}

.header-box{
color: white;
text-decoration: none;
}

.header-link{
    padding: 0 1em;
}