.log-in--wrapper h2 {
    text-align: center;
}

.log-in--wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    border: 1px solid black;
    padding: 1em;
  }
  
.log-in--form {
    margin: 0 0 1.25em 1em;
  }

.log-in--submit {
    text-align: center;
}