.log-in--wrapper {
    width: 30%;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 0px grey, 2px 0px 2px grey, 0px -2px 2px grey, -2px 0px 2px grey;
  }
  
.log-in--wrapper h2 {
    text-align: center;
}

.log-in--wrapper h3 {
  text-align: center;
}
  
.log-in--form {
    margin: 0 0 1.25em 3.25em;
  }

.log-in--submit {
    text-align: center;
    margin: 0.8em 3em 0.2em 3em;
}

.log-in--submit span{
  margin-left: 0.6em;
}

.login--compte{
  display: flex;
  justify-content: space-between;
}