
.sign-in--wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 0px grey, 2px 0px 2px grey, 0px -2px 2px grey, -2px 0px 2px grey;
}

.sign-in--wrapper h2 {
    text-align: center;
}

.sign-in--form {
    margin: 0.6em 0 0.6em 3em;
  }

.sign-in--submit {
    padding: 0.6em;
    text-align: center;
  }
  
.sign-in--submit Link {
    text-decoration: none;
}
