.sign-in--wrapper h2 {
    text-align: center;
}

.sign-in--wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    border: 1px solid black;
    padding: 1em;
  }
  
.sign-in--form {
    margin: 0.6em 0 0.6em 3em;
  }

.sign-in--submit {
    padding: 0.6em;
    text-align: center;
}

