.logistique-details--link button {
  height: 3.5em;
  width: 15em;
  border-radius: 0.8em;
  border:0.1em solid rgb(50, 50, 50);
}


.logistique-details--link a {
    font-size: 1.4em;
    color: black;
}
