.main-info--wrapper {
  padding: 0 2em;;
  border-radius: 1em;
  box-shadow: 2px 2px 0px grey, 2px 0px 2px grey, 0px -2px 2px grey, -2px 0px 2px grey;
}

.main-info--wrapper h1{
  margin: 0.2em;
  text-align: center;
  line-height: 5em;
}

.wrapp {
  display: flex;
  justify-content: space-between;
}

.main-info--location {
  justify-content: space-between;
  margin: 0 1em;
  line-height: 3em;
}

.main-info--subtitles {
  line-height: 4em;
}

.main-info--subtitles h2 {
  margin-left: 5em;
  padding-bottom: 1em;
}