.program--wrapper {
  justify-content: space-between;
  padding: 1em;
  margin: 5em 0.6em;
  width: 100%;
}

.program--column {
  width: 100%;
  display: flex;
  justify-content: center;
}

 .program--column h2{
      text-align: left;
}

.program--afternoon {
  width: 40%
}

.program--details {
  margin-top: 5em;
}

.program--separator {
  display: flex;
  border-right: 1px solid black;
  margin: 0.3em 0;
}

.program--night {
  width: 40%;
  margin-left: 5em;
}