.program--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 0.3em 0.6em;
  width: 100%;
}

.program--column {
  width: 45%;
}

.program--separator {
  width: 0;
  border-right: 2px solid black;
  margin: 0.3em 0;
}

.program--afternoon {
  margin-top: 0.3em;
}

.program--column h2{
  text-align: left;
  text-shadow: 1px 1px 2px grey;
}

.program-details--link a{
  text-decoration: underline;
}