.program--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 5px 10px;
  width: 100%;
}

.program--column {
  width: 45%;
}

.program--separator {
  width: 0;
  border-right: 2px solid black;
  margin: 5px 0;
}

.program--afternoon {
  margin-top: 5px;
}

.program--column h2{
  text-align: left;
}